*{margin: 0;padding: 0;outline: 0}


.clear{overflow: hidden;
height: 800px;
}
.mill{
	width: 80%;
	height:420px;
}


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  height: 40px;
}

.header a.logo {
  font-size: 10px;
  font-weight: bold;
}
.header img {
  float: left;
  width: 100px;
  height: 80px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: absolute;
  height: 740px;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
* {box-sizing: border-box;}


.navesection{
	height: 30px; 
	background: #dddf;
	font-size: 20px;
	padding-left: 3px;
	padding-top: 5px

}
.contentsection{background: white;
height: 750px}

.contentsection h2 {
    height: 67px;
    background: #d69d9d;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}
.maincontent {
    width: 450px;
    background: white;
    padding: 108px;
    height: 720px;
    float: left;
    margin: 0px 0px 0px 27px;
}
.sidebar {
    width: 230px;
    background: #a58c8c;
    padding: 12px 1px 2px 17px;
    height: 750px;
    float: right;
    margin: 0px;
}
.sidebar h3{}
.sidebar1 {
    width: 200px;
    height: 200px;
 ;
    padding: 10px;
    margin-top: 10px;
}

.sidebar2 {
    width: 200px;
    
    padding: 10px;
    margin-top: 10px;
}
.sidebar2 h3{}

.sidebar3 {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
}
.sidebar3 h3{}


.sidebarr {
    width: 266px;
    
    padding: 12px 1px 2px 17px;
    height: 600px;
    float: left;
}
.sidebarr h3{}
.sidebarr1 {
    width: 200px;
    
    padding: 10px;
    margin-top: 10px;
}

.sidebarr2 {
    width: 200px;
    
    padding: 10px;
    margin-top: 10px;
}
.sidebar2 h3{}

.sidebarr3 {
    width: 200px;
    
    padding: 10px;
    margin-top: 10px;
}
.sidebar3 h3{}

.left-part, form {
      padding: 25px;
      }
      .left-part {
      text-align: center;
      }
      .fa-graduation-cap {
      font-size: 72px;
      }


      .title {
      display: flex;
      align-items: center;
      width: 500px;
      margin-bottom: 10px;
      }
      .info {
      display: flex;
      flex-direction: column;
      }
      input, select {
      padding: 5px;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
      }
      input::placeholder {
      color: black;
      }
      option:focus {
      border: none;
      }
      option {
      background: gray; 
      border: none;
      }
      .checkbox input {
      margin: 0 10px 0 0;
      vertical-align: middle;
      }
      .checkbox a {
      color: #26a9e0;
      }
      .checkbox a:hover {
      color: #85d6de;
      }
.footer {
  height: 100px;
  background: #eee;
  margin-top: 10px;
  color: black;
  text-align: center;
  padding: 0;
}
.form{
  width: 300px;
  background: white;
}
